.aboutMeContainer {
    background-image: linear-gradient(rgb(56, 205, 208), rgb(132, 220, 224));
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
}

.subjectContainer {
    background-color: rgb(7, 84, 86);
    width: clamp(280px, 60%, 700px);
    margin: 0 auto;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}

.title, .subTitle {
    color: white;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.subTitle {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 20px;
    text-decoration: none;
}

.text, .textLink {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.textLink {
    display: inline;
    text-decoration: underline;
}

.textLink:hover
{
    cursor: pointer;
    text-decoration: none;
}
.arrowBtn {
    background-color:rgb(7, 84, 86);
    border-color: transparent;
    color: white;
    font-family: monospace;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    float: right;

    border: 2px solid white;
    transition: all 100ms ease-in-out
}

.arrowBtn:hover {
    transform: translate(2px, 2px);
    cursor: pointer;
}

.arrow {
    transform: rotate(180deg);
}