.aboutMeContainer {
    background-image: linear-gradient(rgb(56, 205, 208), rgb(132, 220, 224));
    width: 100%;
    height: fit-content;
    padding-top: 2px;
    padding-bottom: 20px;
}

.subjectAlignmentContainer {
    width: 45%;
    height: fit-content;
    margin: 0 auto;
}

.subjectContainer {
    background-color: rgb(7, 84, 86);
    width: 100%;
    padding: 5px;
    margin: 20px auto;
    margin-bottom: 30px;

    box-shadow: 0 0 8px white;
}

.title {
    color: white;
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.subjectTitle {
    color: white;
    text-decoration: underline;
    font-size: large;
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin-bottom: 5px;
}

.text {
    color: white;
    font-size: large;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (max-width: 1600px) {
    .subjectAlignmentContainer {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .subjectAlignmentContainer {
        width: 80%;
    }
    .text {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .subjectAlignmentContainer {
        width: 90%;
    }
    .subjectContainer {
        box-shadow: none;
    }
    .text {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .subjectAlignmentContainer {
        width: 100%;
    }
    .text {
        width: 95%;
    }
}
