.contactContainer {
    height: fit-content;
    width: 100%;
    margin-bottom: 50px;
}

.title {
    color: rgb(56, 205, 208);
    text-decoration: underline;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: xx-large;

    margin-bottom: 0;
}

.subTitle {
    font-family: Montserrat, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 2px;
    font-style: italic;
    color: rgb(7, 84, 86);
}

.strong {
    color:rgb(56, 205, 208);
    text-decoration: underline;
}

.strong:hover {
    text-decoration: none;
}

.strongAnchor {
    color: inherit;
    text-decoration: inherit;
}

.plugsContainer {

    width: 600px;
    height: fit-content;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* background-color: antiquewhite; */
}

.subPlugsContainer {
/* background-color: gray; */
    width: 49%;
    height: fit-content;
}

.goUpDiv {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.goUpDiv:hover {
    transform: translateY(-4px);
}

.upIcon {
    color: rgb(56, 205, 208);
    font-size: 50px;
}


@media (max-width:1000px) {
    .plugsContainer {
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }

    .subPlugsContainer {
        width: 100%;
        margin-bottom: -18px;
        margin-top: 0;
    }
}

@media (max-width:600px) {

    .subPlugsContainer {
        width: 100%;
        margin-bottom: -18px;
        margin-top: 0;
    }
}