.titleWords {
    font-family: Montserrat, sans-serif;
    color: rgb(36, 57, 57);
    font-size: 56px;
    margin: 0;
    text-align: left;
}

.titleStrong {
    color: rgb(56, 205, 208);
}

.landingContainer {
    transition: all 0.7s ease-in-out;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.contentContainer {
    width: fit-content;
    height: fit-content;
    margin-top: 38vh;
    margin-left: calc(40% - 370px);
}

.spacerDiv {
    height: 100vh;
    width: 100%;
}

.plugContainer {
    width: 400px;
    height: 40px;

    position: absolute;
    right: 0;
    top: 8px;

    display: flex; 
    justify-content: space-evenly;
}

.btn {
    font-size: 28px;
}

@media (max-width: 1000px) {

    .contentContainer {
        margin-left: 40px;
    }

    .titleWords {
        font-size: 44px;
    }
    .btn {
        font-size: 20px;
    }
}

@media (max-width: 660px) {

    .contentContainer {
        margin: 0 auto;
        margin-top: 38vh;
    }

    .titleWords {
        font-size: 30px;
        text-align: center;
    }

    .btn {
        font-size: 18px;
        margin-left: 15px;
    }

    .plugContainer {
        width: 100%;
        margin-right: 15px;
    }
}

@media (max-width: 415px) {

    .titleWords {
        font-size: 20px;
    }

    .btn {
        font-size: 11px;
        margin-left: 7%;
    }
}