.btnCard {
    margin: 5px;
}

.icon {
    display: block;
    font-size: 120px;
}

.btn {
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    color: rgb(7, 84, 86);
    transition: all 80ms ease-in-out;
}

.btn:focus {
    color: rgb(0, 0, 0);
}

.btn:hover {
    transform: translate(2px, 2px);
    cursor: pointer;
    color: rgb(239, 239, 239);
}

.btnLabel {
    display: block;
    text-align: center;
}

@media (max-width: 860px) {
    .icon {
        font-size: 80px;
    }
    .btn:hover {
        transform: translate(0, 0);
    }
}

@media (max-width: 600px) {
    
}