.btn {
    background-color: transparent;
    border-color: transparent;
    width: fit-content;
    height: 150px;

    margin: 0 auto;

    color: rgb(7, 84, 86);
    font-size: 200px;
    transition: all 0.1s ease-in-out;
}

.icon {
    margin: 0;
}

.btn:focus {
    color: white;
}

.btn:hover {
    font-size: 215px;
}

@media (max-width: 1200px) {
    .btn {
        font-size: 170px;
    }

    .btn:hover,
    .btn:focus {
        font-size: 180px;
    }
}

@media (max-width: 860px) {
    .btn {
        font-size: 150px;
    }

    .btn:hover,
    .btn:focus {
        font-size: 160px;
    }
}

@media (max-width: 600px) {
    .btn {
        font-size: 100px;
        height: 100px;
    }

    .btn:focus,
    .btn:hover {
        font-size: 110px;
    }
}