.projectContainer {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 100px;
    margin-bottom: 100px;
}

.descContainer {
    width: 48%;
    margin: 0 auto;
}

.thumbnailContainer {
    width: 48%;
    margin: 0 auto;
}

.img {
    width: 100%;
}

.imgContainer {
    width: 90%;
    height: fit-content;
    margin: 0 auto;

    border: 2px solid rgb(56, 205, 208);
}

.title {
    color: rgb(56, 205, 208);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, sans-serif;

    margin-bottom: -15px;
}

.desc {
    color: rgb(36, 57, 57);
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15px;
}

.tech {
    width: fit-content;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;

    background-color: rgb(7, 84, 86); 
    border: 2px solid black;
}

.techsContainer {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    display: block;
    margin-top: 12px;
    margin-bottom: -15px;
}